<h1>Frequently Asked Questions</h1>
	
	<ul>
		<li>Can we get a Free Trial? Yes, free trials are available</li>
		<li>How many people can signup for this event? 300 people per ticket</li>
		<li>Is this difficult? No, not at all. If you do your best, you will be well rewarded.</li>
	</ul>
	